.wrapper {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 70%;
    height: 200px;
    border:1px solid;
    margin:  auto ;
    display: none;
    text-align: center;
    border-color: black;
    background: white;
}

.text_with_shadows{

color: darkgreen;
line-height: 50px;
font-size: 50px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.26), 0 4px 12px rgba(0, 0, 0, 0.31);
}

form{
    position: relative;
}

phone-mask {
  display: inline-block;
  width: auto;
  padding: 0.2em;
  border: 1px solid #9e9e9e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
phone-mask>span {
  color: #9e9e9e;
}
phone-mask>input {
  all: initial;
  border: none;
  width: 1ch;
  padding: 0 0.4ch;
}
phone-mask>input[error] {
  color: red;
}

